#!/bin/sh

# set style environment vars
export GTK_USE_PORTAL=1
export QT_QPA_PLATFORMTHEME=gtk2
export GTK_THEME=Nordic
xsetroot -cursor_name left_ptr
dconf write /org/gtk/settings/file-chooser/startup-mode \"cwd\"

# launch pre-wm applications
ksuperkey -e 'Super_L=Alt_L|F1' &
ksuperkey -e 'Super_R=Alt_L|F1' &
numlockx on &
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &